{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>BK Crosssell App</title>
  </head>
  <body>
    {% block content %}
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      {% include "navbar.html" %}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        {% include "settings-panel.html" %}
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-md-12 grid-margin">
                <div class="row">
                  <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold">
                      Welcome to BK Reconciliation app
                    </h3>
                    <h6 class="font-weight-normal mb-0">
                      Reconciliation made<span
                        class="text-primary font-weight-bold"
                      >
                        easier.</span
                      >
                    </h6>
                  </div>
                
                </div>
              </div>
            </div>
         
            {% if error %}
            <div class="alert alert-default alert-dismissible fade show">
              <strong>Yey! </strong>{{error}}
            </div>
            {% endif %}
            <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card position-relative">
                  <div class="card-body">
                    <div class="d-flex flex-column justify-content-start">
                      <div class="ml-xl-4 mt-3 mb-4">
                        <p class="card-title">Instructions</p>
                        <p class="mb-2 mb-xl-0">
                          Insert the info to save to the db 
                        </p>
                      </div>
                    </div>

                    <form
                      action="{% url 'Index' %}"
                      method="POST"
                      class="forms-sample ml-xl-4"
                      enctype="multipart/form-data"
                      id="form_element"
                    >

                      {% csrf_token %}
                      <div class="form-group">
                        <label for="date">User Id</label>
                        <input
                          type="text"
                          class="form-control file-upload-info"
                          id="user_id"
                          name="user_id"
                        />
                      </div>
                      <div class="form-group">
                        <label for="date">User Name </label>
                        <input
                          type="text"
                          class="form-control file-upload-info"
                          id="user_name"
                          name="user_name"
                        />
                      </div>            <div class="form-group">
                        <label for="date">First Name </label>
                        <input
                          type="text"
                          class="form-control file-upload-info"
                          id="user_first_name"
                          name="user_first_name"
                        />
                      </div>            <div class="form-group">
                        <label for="date">Last Name </label>
                        <input
                          type="text"
                          class="form-control file-upload-info"
                          id="user_last_name"
                          name="user_last_name"
                        />
                      </div>            <div class="form-group">
                        <label for="date">Status</label>
                        <input
                          type="text"
                          class="form-control file-upload-info"
                          id="user_status"
                          name="user_status"
                        />
                      </div>            <div class="form-group">
                        <label for="date">User Email</label>
                        <input
                          type="text"
                          class="form-control file-upload-info"
                          id="user_email"
                          name="user_email"
                        />
                      </div>            
                      <div class="form-group">
                        <label for="date">User No</label>
                        <input
                          type="text"
                          class="form-control file-upload-info"
                          id="user_phone_number"
                          name="user_phone_number"
                        />
                      </div>
                      <button

                        href="match"
                        id="match_submit"
                        value="Submit"
                        type="submit"
                        class="btn btn-primary mr-2"
                        data-toggle="collapse"
                      >
                        Save
                      </button>
                      <button disabled="enabled" class="btn btn-light">
                        <a href="{%  url  'Index'  %}"> Reset </a>
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
      
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div
              class="d-sm-flex justify-content-center justify-content-sm-between"
            >
              <span
                class="text-muted text-center text-sm-left d-block d-sm-inline-block"
                >Copyright © 2022</span
              >
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    {% endblock %}
  </body>
</html>
<script>
  if (window.history.replaceState) {
    window.history.replaceState(null, null, window.location.href);
  }
</script>
